/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
  background-color:darkblue;
}

* a, * Link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color:none;
}

/* #root {
  overflow: hidden;
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: repeat(20, 5vw);
  grid-template-rows: repeat(20, 5vh);
} */
