.footerContainer{
    display: grid;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(5, 2vh);
    
}
.footerName{
    grid-column: 4 / 6;
    grid-row: 2 / 4;
}
.footerLinkedin{
    grid-column: 10;
    grid-row: 1 / 4;
}
.footerGithub{
    grid-column: 15;
    grid-row: 1 / 4;
}
.linkedinlogo{
    width: 32px;
    height: 32px;
    background-size: cover;
}
