.footerContainer{
    display: grid;
    grid-template-columns: repeat(20, 95px);
    grid-template-rows: repeat(3, 48px);
    grid-column: 1 / 20;
    grid-row: 19 / 22;
    overflow:hidden;
}
.footerName{
    grid-column: 4 / 6;
    grid-row: 2;
    margin: 0px;
    padding: 0px;
    font-family: 'Hina Mincho';
    color:#20B2AA;
    align-items: baseline;

}
.footerLinkedin{
    grid-column: 10;
    grid-row: 2;
    color:#20B2AA;
    font-family: 'Hina Mincho';
}
.footerGithub{
    grid-column: 15;
    grid-row: 2;
    color:#20B2AA;
    font-family: 'Hina Mincho';
}
.linkedinlogo{
    width: 32px;
    height: 32px;
    background-size: cover;
}
