/* .navbarContainer{
    display: grid;
    /* grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(5, 2vh);
    grid-column: 1 / 20;
    grid-row: 1 / 5;
} */
.navbarContainer{
    display: grid;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(3, 5vh);
    grid-column: 1/20;
    grid-row: 1/3;
    overflow: hidden;
}
.navLinkHome{
    grid-column: 2/3;
    grid-row: 1/2;
    height: 100%;
    text-decoration: none;
    font-family: 'Hina Mincho';
    font-size: 30px;
    height: 100%;
    color:#20B2AA;
}

 .createCabinButton{
    grid-column: 17/18;
    grid-row: 1/2;
    font-family: 'Hina Mincho';
    font-size: 20px;
    background-color: transparent;
    outline: none;
    border: transparent;
    padding: none;
    width: 150px;
    color:#20B2AA;
}

.navLogout{
    grid-column: 19/19;
    grid-row: 1/2;
    font-family: 'Hina Mincho';
    background-color: transparent;
    outline: none;
    border: transparent;
    padding: none;
    width: 15px;
}

.navLogin{
    grid-column: 19/19;
    grid-row: 1/2;
    height: 100%;
    text-decoration: none;
    font-family: 'Hina Mincho';
    font-size: 25px;
    height: 100%;
    color:#20B2AA;
}
.navSignup{
    grid-column: 17/18;
    grid-row: 1/2;
    height: 100%;
    text-decoration: none;
    font-family: 'Hina Mincho';
    font-size: 25px;
    height: 100%;
    color:#20B2AA;
}
