.navbarContainer{
    display: grid;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(5, 2vh);
    z-index: 0;
}
.navbar{
    display: grid;
    width: 100%;
    height: 100%;
    grid-column: 1 / 20;
    grid-row: 1 / 5;
}

.createCabinButton{
    grid-column: 18/19;
    /* text-decoration: none; */
    font-family: 'Hina Mincho';
    font-size: 20px;
    background-color: transparent;
    outline: none;
    border: transparent;
    padding: none;
    width: 150px;
}

.navLogout{
    grid-column: 17/18;
    grid-row: 1/2;
    font-family: 'Hina Mincho';
    background-color: transparent;
    outline: none;
    border: transparent;
    padding: none;
    width: 15px;
}

.navLinkHome{
    grid-column: 2 / 3;
    grid-row: 1/2;
    height: 100%;
    text-decoration: none;
    font-family: 'Hina Mincho';
    font-size: 30px;
    height: 100%;
}

.navLogin{
    grid-column: 17 / 18;
    grid-row: 1/2;
    height: 100%;
    text-decoration: none;
    font-family: 'Hina Mincho';
    font-size: 25px;
    height: 100%;
}
.navSignup{
    grid-column: 18 / 19;
    grid-row: 1/2;
    height: 100%;
    text-decoration: none;
    font-family: 'Hina Mincho';
    font-size: 25px;
    height: 100%;
}
