.cabinsContainer{
    display:grid;
    grid-template-columns: repeat(18, 5vw);
    /* grid-template-rows: repeat(20, 5vh); */
    grid-template-rows: repeat(auto-fill, 5vh);
    grid-column: 2 /20;
    grid-row: 2 /19;
    z-index: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    /* border:solid; */
    background-color:rgb(108, 99, 167);
}

::-webkit-scrollbar {
    width: 12px;
  }
::-webkit-scrollbar-track{
    background: rgb(108, 99, 167);
}
::-webkit-scrollbar-thumb{
    background: #778899;
}

 .cabinList{
    display:grid;
    column-gap: 10px;
    row-gap: 25px;
    grid-template-columns: repeat(5, 18vw);
    grid-column: 1 / 6;
    grid-row: 1 / 14;
    /* grid-template-rows: repeat(15, 5vh); */
    width: 100%;
    height: 100%;

}

.cabinImage{
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.cabinDiv{
    font-family: 'Hina Mincho';
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
    color: #ECF0F1 ;
}
