.demoButton{
    font-family: 'Hina Mincho';
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0px;
    margin: 0px;
    color:#20B2AA;
    font-size: 18px;
    grid-column: 10 / 11;
    grid-row: 14 / 15;
    text-align: left;
    font-size: 20px;
}
